body {
    margin: 0;
    background-color: blue;
}

header {
    display: flex;
    justify-content: space-around;
}

.catFootball {
    color: brown;
}

.catVideoGames {
    color: green;
}

.catAnime {
    color: red;
}

.catBasketball {
    color: orange;
}

.catMarvelMovies {
    color: silver;
}

.pointContainer {
    margin-top: 50px;
}

.oneContainer, .twoContainer, .threeContainer, .fourContainer, .fiveContainer {
    display: flex;
    justify-content: center;
}

.one {
    height: 40px;
    width: 80px;
    border: 2px solid black;
}

.two {
    height: 80px;
    width: 120px;
    border: 2px solid black;
}

.three {
    height: 120px;
    width: 160px;
    border: 2px solid black;
}

.four {
    height: 160px;
    width: 200px;
    border: 2px solid black;
}

.five {
    height: 200px;
    width: 240px;
    border: 2px solid black;
}

.categories {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: bold;
}