body {
    margin: 0;
    background-color: blue;
}

header {
    display: flex;
    justify-content: space-around;
}

.football {
    color: brown;
}

.videoGames {
    color: green;
}

.anime {
    color: red;
}

.basketball {
    color: orange;
}

.marvelMovies {
    color: silver;
}

.oneContainer, .twoContainer, .threeContainer, .fourContainer, .fiveContainer {
    display: flex;
    justify-content: center;
}

.one {
    height: 40px;
    width: 40px;
    border: 2px solid black;
}