body {
    margin: 0;
    background-color: blue;
}

header {
    display: flex;
    justify-content: space-around;
}
/* Header styling*/
.catFootball {
    color: brown;
}

.catVideoGames {
    color: green;
}

.catAnime {
    color: red;
}

.catBasketball {
    color: orange;
}

.catMarvelMovies {
    color: silver;
}

/* main container */
.pointContainer {
    margin-top: 50px;
    position: absolute;
    z-index: 1000;
}

/* display the point values horizontally and center the containers */
.oneContainer, .twoContainer, .threeContainer, .fourContainer, .fiveContainer {
    display: flex;
    justify-content: center;
    position: relative;
}

/* style the point values */
.one {
    height: 40px;
    width: 80px;
    border: 2px solid black;
}

.two {
    height: 80px;
    width: 120px;
    border: 2px solid black;
}

.three {
    height: 120px;
    width: 160px;
    border: 2px solid black;
}

.four {
    height: 160px;
    width: 200px;
    border: 2px solid black;
}

.five {
    height: 200px;
    width: 240px;
    border: 2px solid black;
}

/* make the numbers at the bottom evenly spaced */
.categories {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
}

/* place the football questions and answers in front of the points container */
.footballQA {
    z-index: 1000;
    height: 80vh;
    width: 100vw;
    background-color: brown;
    color: white;
    display: none;
    position: absolute;
}

/* place the video game questions and answers in front of the points container */
.videoGamesQA {
    z-index: 1000;
    height: 80vh;
    width: 100vw;
    background-color: green;
    color: yellow;
    display: none;
    position: absolute;
}

/* place the anime questions and answers in front of the points container */
.animeQA {
    z-index: 1000;
    height: 80vh;
    width: 100vw;
    background-color: red;
    color: black;
    display: none;
    position: absolute;
}

/* place the basketball questions and answers in front of the points container */
.basketballQA {
    z-index: 1000;
    height: 80vh;
    width: 100vw;
    background-color: orange;
    color: black;
    display: none;
    position: absolute;
}

.footballEasy, .footballMedium, .footballHard, .footballVeryHard, .footballInsane,
.gamerEasy, .gamerMedium, .gamerHard, .gamerVeryHard, .gamerInsane,
.animeEasy, .animeMedium, .animeHard, .animeVeryHard, .animeInsane,
.basketballEasy, .basketballMedium, .basketballHard, .basketballVeryHard, .basketballInsane {
    
    display: none;
}

.points {
    border: 3px solid black;
    width: 100px;
    height: 30px;
}

.football {
    color: brown;
}

.videoGames {
    color: green;
}

.anime {
    color: red;
}

.basketball {
    color: orange;
}

.marvelMovies {
    color: silver;
}